.container_pok{
    box-sizing: border-box;
    height: auto;
    padding:60px;
    width: 100%;    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* background-image: url('../img/battle.png');
    object-fit:cover; */
  }

  .loading{
    position: absolute;
    left: 50%;
    top: 45%;
  }